.menubar{
   padding: 15px;
   display:flex; 
   border-radius: 22px;
   border-bottom:2px solid rgb(213, 212, 212);
  
}

.menu{
    padding-left: 980px;
    font-size: 17px;
    
}


.menu a{
    color: black;
    text-decoration: none;
    margin: 14px 16px;
  
}

.head{
    font-size: 20px;
    padding-left: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.head:hover{
    text-decoration-line: underline;
    color: rgb(159, 100, 196);
}
.area{
    display: flex;
}
.heading
{
   font-size: 30px; 
   font-weight: bold;
   text-decoration: underline rgb(22, 129, 201);
   color: red;
   
}
.heading:hover{
     text-decoration-line: underline;
    color: rgb(159, 100, 196);
}
.p{
    font-size:20px;
    line-height:1.5;
}

.prof{
  width:400px;
  height: 400px;
  border: 3px solid rgb(216, 213, 213);
  border-radius:400px ;
  margin-top: 130px;
  margin-left: 100px;
  
  
}


.prof:hover{
 /* transform: translate3d(20px,9px,9px);  */
 transform: rotateY(-25deg);
 transition: transform 4s ; 
 border: none;
}
.textarea{
    margin-top: 100px;
    margin-left: 80px;
}
.heading1
{
    margin-top: 50px;
   font-size: 30px; 
   font-weight: bold;
   text-decoration: underline rgb(22, 129, 201);
   color: red;
   
}
.heading1:hover{
     text-decoration-line: underline;
    color: rgb(159, 100, 196);
}
.p1{
    font-size:20px;
    line-height:1.5;
}

